.mainWindow {
  position: relative;
  width: 70vw;
  height: auto;
  min-height: 50vh;
  /*left: 17vw;*/
  /*top: 16vh;*/
  padding-bottom: 10px;
  background: #f5f5f5;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 3vh;
  margin-left: 0px;
}
