.pageStyle {
  background: #e6e6e6;
  height: 1600px;
  border: 1px solid #dedfdf;
  overflow: hidden;
}

.page {
  position: relative;
  height: auto;
  width: 100vw;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin: 0px;
  padding-bottom: 0px;
}
